fastapi~=0.115.11
pydantic~=2.10.6
starlette~=0.46.1
pip~=23.2.1
attrs~=25.3.0
PySocks~=1.7.1
pillow~=11.0.0
filelock~=3.16.1
config~=0.5.1
pydantic-settings~=2.8.1

SQLAlchemy~=2.0.40
logging~=0.4.9.6
babel~=2.17.0
Pygments~=2.19.1
pytest~=8.3.5
MarkupSafe~=3.0.2
typing_extensions~=4.12.2
greenlet~=3.1.1
psutil~=7.0.0